.contact-us {
    align-items: flex-start;
    background: linear-gradient(180deg, rgb(227, 255, 233) 0%, rgb(248, 248, 248) 100%);
    background-color: rgba(255,255,255,1.0);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 2162px;
    position: relative;
    width: 1400px;
}
  
  .frame-296 {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
  }
  
  .top-1 {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 90px 0px 32px;
    width: 1399px;
  }
  
  .frame-296-1 {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    position: relative;
    width: fit-content;
  }
  
  .group-295 {
    height: 392px;
    min-width: 493px;
  }
  
  .flex-col-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 392px;
    width: 489px;
  }
  
  .how-can-we-help {
    letter-spacing: 0;
    line-height: 70px;
    white-space: nowrap;
  }
  
  .making-a-general-inq {
    letter-spacing: 0.37px;
    line-height: 32px;
    margin-top: 24px;
    width: 489px;
  }
  
  .credentials-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    min-height: 162px;
    width: 410px;
  }
  
  .group-82-1 {
    height: 48px;
    width: 408px;
  }
  
  .group-83 {
    height: 48px;
    margin-top: 16px;
    width: 168px;
  }
  
  .diverse-industry-leaders-use-juice {
    letter-spacing: 0.37px;
    line-height: 26px;
    margin-top: 24px;
    white-space: nowrap;
  }
  
  .payment-solutions-for-diverse-use-cases-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 32px 0px 64px;
    position: relative;
    width: fit-content;
  }
  
  .frame-295-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: fit-content;
  }
  
  .group-294,
  .group-294-1 {
    height: 168px;
    min-width: 493px;
    position: relative;
  }
  
  .discover-how-we-help,
  .discover-how-we-help-1 {
    left: 0;
    letter-spacing: 0.37px;
    line-height: 32px;
    position: absolute;
    top: 136px;
    white-space: nowrap;
    width: 489px;
  }
  
  .payment-solutions-for-diverse-use-cases-1,
  .payment-solutions-for-diverse-use-cases-2 {
    left: 0;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 0;
    width: 489px;
  }
  
  