.contact-us-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 11.25rem 1.5rem 0;
  margin-bottom: 2rem;
  .contact-form-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
    gap: 1.5rem;
    .contact-info-section {
      h1 {
        margin-bottom: 0.75rem;
      }
      p {
        margin-bottom: 1.25rem;
      }
      .contact-credentials {
        .credentials-icons {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 1.5rem;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .contact-form {
      background-color: var(--white);
      border-radius: var(--border-radius);
      padding: 1.5rem;
    } 
  }
  .contact-header-text2 {
    margin-bottom: 1.5rem;
    h2 {
      margin-bottom: 1rem;
    }
  }
}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 160px;
}

input[type=submit] {
  width: 100%;
  background-color: #111111;;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #111111;;
}


@media screen and (min-width: 768px) {
  .contact-us-wrapper {
    margin-bottom: 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "contactform contactform"
      "headerText ."
      "usecase usecase"
    ;
    gap: 1.5rem;
    .contact-form-section {
      grid-area: contactform;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 4rem;
      .contact-info-section {
        h1 {
          margin-bottom: 1.5rem;
        }
        p {
          margin-bottom: 2.5rem;
        }
      }
      .contact-form {
        padding: 2.5rem;
      }
    }
    .contact-header-text2 {
      grid-area: headerText;
      margin-bottom: 1rem;
      h2 {
        margin-bottom: 1.75rem;
      }
    }
    .use-case-wrapper {
      grid-area: usecase;
      gap: 2.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contact-us-wrapper {
    padding: 11.25rem 0 0;
  }
}
  