.header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
    z-index: 4;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        max-width: 87.5rem;
        margin: 0 auto;
    }
}



.logo {
    cursor: pointer;
    height: 1.5rem;
    margin-top: 0;
    width: 4.5rem;
}

.navbar {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    @media screen and (max-width: 768px)  {
        display: none
    }
}
.contact-us {
    @media screen and (max-width: 768px)  {
        display: none
    }
}
  
.nav-item {
    cursor: pointer;
    letter-spacing: 0.37px;
    line-height: 1.5rem;
}

.header.header-2 {
    left: unset;
    position: relative;
    top: unset;
    z-index: unset;
}

.hamburger {
    display: none;
    @media screen and (max-width: 768px)  {
        position: fixed;
        top: 5%;
        right: 4%;
        color: #222;
        background: #eee;
        padding: .75rem;
        display: flex;
        place-items: center;
        font-size: 2rem;
        cursor: pointer;
    }
}
.navbar-mobile {
    display: none;
    @media screen and (max-width: 768px)  {
        position: fixed;
        // top: 0;
        right: 0;
        height: 150vh;
        width: 50%;
        @media screen and (min-width: 790px) {
            width: 60%;
        }
        background-color: rgba(58, 66, 81, .9);
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .link {
            color: #eee;
            text-decoration: none;
            margin-top: 28px;
            // font-size: clamp(3rem, 4vw, 6vw);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            transition: .2s all ease-in-out;
            user-select: none; /* supported by Chrome and Opera */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            &:hover {
                transition: .2s all ease-in-out;
                color: orangered;
            }
        }
        .contact-us {
            display: block;
            margin-bottom: -562px;
            margin-top: 297px;
            color: var(--white);
            background-color: var(--black);
            border-radius: var(--border-radius);
        }
        .cancel {
            position: fixed;
            top: 5%;
            right: 4%;
            background: #222;
            color: #fff;
            padding: .75rem;
            display: flex;
            place-items: center;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 640px) {
    .header {
        .header-wrapper {
            padding: 1.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .header-wrapper {
            justify-content: space-between;
        }
    }
}