.header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 100%);
    z-index: 4;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        max-width: 87.5rem;
        margin: 0 auto;
    }
}

.logo {
    cursor: pointer;
    height: 1.5rem;
    margin-top: 0;
    width: 4.5rem;
}

.navbar {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}
  
.nav-item {
    cursor: pointer;
    letter-spacing: 0.37px;
    line-height: 1.5rem;
}

.header.header-2 {
    left: unset;
    position: relative;
    top: unset;
    z-index: unset;
}
  

@media screen and (min-width: 640px) {
    .header {
        .header-wrapper {
            padding: 1.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .header-wrapper {
            justify-content: space-between;
        }
    }
}