.terms-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 8rem 1.5rem 5.5rem;
}

.terms-texts {
    margin-top: 2.5rem;
}

@media screen and (min-width: 1024px) {
    .terms-wrapper {
      padding: 9.625rem 0 5.5rem;
    }
}