@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Roobert-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/Displaay Type - Roobert Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Augusta-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Augusta.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/Roobert-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Roobert-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/Roobert-Medium.otf") format("opentype");
}

:root { 
  --black: #111111;
  --grey: #434343;
  --light: #f8f8f8;
  --lighter-grey: #eeeeee;
  --light-grey: #d8d8d8;
  --purple: #d1c2f2;
  --dark-purple: #5D57F6;
  --white: #ffffff;
 
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.125rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2.5rem;
  --font-size-xxxl: 3.5rem;

  --line-height-xxs: 26px;
  --line-height-s: 24px;
  --line-height-m: 32px;
  --line-height-mm: 36px;
  --line-height-mmm: 38px;
  --line-height-xl: 42px;
  --line-height-xxl: 54px;
  --line-height-xxxl: 70px;

  --border-radius: 0.75rem;
  --letter-spacing: 0.37px;
  
  --font-family-roobert-bold: "Roobert-Bold", Helvetica;
  --font-family-roobert-medium: "Roobert-Medium", Helvetica;
  --font-family-roobert-regular: "Roobert-Regular", Helvetica;
  --font-family-augusta-regular: "augusta-Regular", Helvetica;
}
.roobert-regular-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-s);
}

.roobert-regular-normal-black-long-16px {
  color: var(--black);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-mm);
}

.roobert-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-m);
}

.roobert-bold-black-long-18px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-mmm);
}

.roobert-regular-normal-lighter-grey-18px {
  color: var(--lighter-grey);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-m);
}

.roobert-regular-normal-grey-12px {
  color: var(--grey);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-xxs);
}

.roobert-regular-normal-light-grey-12px {
  color: var(--light-grey);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-xxs);
}

.roobert-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-xl);
}

.roobert-bold-black-small-28px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-m);
}

.roobert-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.roobert-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-roobert-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height-s);
}

.roobert-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-m);
}

.roobert-regular-normal-grey-16px {
  color: var(--grey);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-s);
}

.roobert-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-s);
}

.roobert-bold-black-56px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-xxxl);
}

.roobert-regular-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-m);
}

.roobert-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-m);
}

.roobert-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-xxl);
}

.roobert-regular-normal-light-18px {
  color: var(--light);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-m);
}

.roobert-regular-normal-grey-18px {
  color: var(--grey);
  font-family: var(--font-family-roobert-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-m);
}

.roobert-bold-lighter-grey-28px {
  color: var(--lighter-grey);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-xl);
}

.roobert-bold-light-28px {
  color: var(--light);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-xl);
}

.roobert-bold-lighter-grey-40px {
  color: var(--lighter-grey);
  font-family: var(--font-family-roobert-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height-xxl);
}

.container {
  max-width: 62.625rem;
  margin: 0 auto;
}

.light-bg {
  background-color: var(--light);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.w-full {
  width: 100%;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.text-uppercase {
  text-transform: uppercase;
}

// @media screen and (min-width: 640px) {
//   .container {
//     max-width: 100%;
//   }
// }
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 100%;
//   }
// }
// @media screen and (min-width: 1024px) {

// }
// @media screen and (min-width: 1280px) {

// }
