@import './globals.scss';
@import '../src/assets/scss/articles.scss';
@import '../src/assets/scss/terms-condition.scss';
@import '../src/assets/scss/button.scss';
@import '../src/assets/scss/banner.scss';
@import '../src/assets/scss/header.scss';
@import '../src/assets/scss/footer.scss';
@import '../src/assets/scss/infobox.scss';
@import '../src/assets/scss/infobanner.scss';
@import '../src/assets/scss/usecase.scss';
@import '../src/assets/scss/home.scss';
@import '../src/assets/scss/contactus.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roobert-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: var(--letter-spacing);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  min-height: 100%;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}
a {
  text-decoration: none;
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.image-full-width {
  width: 100%;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

.text-underline {
  text-decoration: underline;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.use-case-wrapper {
  display: grid;
  gap: 1.5rem;
  .use-case-contact {
      background: var(--white);
      border-radius: var(--border-radius);
      padding: 1.5rem;
      h3 {
          margin-bottom: 0.75rem;
      }
      p {
          margin-bottom: 1rem;
      }
  }
}

@media screen and (min-width: 768px) {
  .use-case-wrapper {
    gap: 2.5rem;
    .use-case-contact {
      padding: 2.5rem;
      h3 {
          margin-bottom: 1.5rem;
      }
      p {
          margin-bottom: 2rem;
      }
    }
  }
}
