@tailwind base;
@tailwind components;
@tailwind utilities;

@import './globals.scss';
@import '../src/assets/scss/header.scss';
@import '../src/assets/scss/button.scss';
@import '../src/assets/scss/footer.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roobert-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  min-height: 100%;
}

html, .root {
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}
body, .article {
  font-size: 1rem;
  line-height: 1.5rem;
}
h1, .h1 {
  font-family: 'Roobert-Bold', sans-serif;
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
h2, .h2 {
  font-family: 'Roobert-Bold', sans-serif;
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
h3, .h3 {
  font-family: 'Roobert-Bold', sans-serif;
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
h4, .h4 {
  font-family: 'Roobert-Bold', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
h5, .h5 {
  font-family: 'Roobert-Bold', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
